html, body {
    padding: 0;
    margin: 0;
}

html {
    background: url(img/bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

.navbar {
    font-family: Roboto Mono, monospace;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    color: white;
    background-color: #03befc;
    width: 100%;
    height: 42px;
    padding-top: 10px;
}

.profile {
    font-family: Roboto Mono, monospace;
    color: black;
    display: inline-block;
    margin: 40px 1.5% 0 13%;
    padding: 30px;
    width: 35%;
    height: 215px;
    background-color: white;
    box-sizing: border-box;
}

.name {
    font-size: 26px;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
}

.bio {
    font-size: 16px;
    font-weight: normal;
    display: block;
    height: 75px;
}

.link a {
    font-size: 18px;
    color: #0289b6;
    font-weight: bold;
    text-decoration: none;
    display: block;
}

.newTweet {
    float: right;
    margin: 40px 13% 0 1.5%;
    width: 35%;
    height: 215px;
    background-color: white;
    border: none;
    box-sizing: border-box;
}

.tweetTextarea {
    font-family: Roboto Mono, monospace;
    font-size: 15px;
    color: black;
    width: 94%;
    height: 120px;
    margin: 3%;
    resize: none;
    border: none;
    padding: 12px;
    border-bottom: 2px solid #555;
    box-sizing: border-box;
}

.tweetTextarea:focus {
    outline: none;
    border-bottom: 2px solid #03befc;
}

.submit {
    font-family: Roboto Mono, monospace;
    font-weight: bold;
    font-size: 14px;
    color: white;
    border: none;
    width: 90px;
    height: 40px;
    margin: 3%;
    background-color: #03befc
}

.submit:disabled {
    color: #777;
    background-color: #bbb;
}

.counter {
    float: right;
    margin: 3% 4% 0 0;
    font-family: Roboto Mono, monospace;
    font-size: 25px;
    font-weight: bold;
    color: #03befc;
}

.feed {
    padding: 0;
}

.tweet {
    font-family: Roboto Mono, monospace;
    font-size: 15px;
    list-style-type: none;
    display: block;
    background-color: white;
    border-radius: 5px;
    padding: 12px;
    width: 74%;
    margin: 10px 13% 10px 13%;
    box-sizing: border-box;
    word-break: break-all;
}